@import url("https://fonts.googleapis.com/css?family=Raleway");

.App {
  text-align: center;
  margin: 10%;
}

h1 {
  font-family: 'Raleway';
  font-size: 50pt;
  font-weight: 500;
  letter-spacing: 2pt;
}

p {
  font-family: 'Raleway';
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 3pt;
}

.italicize {
  font-family: 'Raleway';
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 1pt;
  font-style: italic;
  margin-top: 50pt;
}
